.sidenav {
  display: none;
  width: 300px;
  position: fixed;
  min-height: 100vh;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.35s;
}

.open {
  display: block;
}
.close {
  display: none;
}
